:root{
    transition: all 0.5s ease;
    --bs-secondary:#e7d4b5;
}
body{
    font-family: "Acme", sans-serif;
    line-height: 1.7;
    background-color:#e2dad6;
}

.navbar{
    background-color:#e7d4b5;
    border-bottom:1px solid #141E46;
}
.nav-item{
    padding:10px;
}
.nav-link{
    color:#c70039;
    font-size: 25px;
    letter-spacing: 3px;
}
.nav-link:hover{
    cursor: pointer;
    text-decoration: underline;
    color:#FF6969;
    opacity: 80%;
}

#hero{
    background: radial-gradient(#fff5e076,rgba(228, 224, 224, 0.693)),url(images/pastry.jpg);
    background-position: center;
    background-size: cover;;
    display: flex;
    align-items:center;
    height: 100vh;
    text-align: center;
    position: relative;
    width: 100%;

}

#hero .col-12 span::before{
    content: "Banh Mi";
    animation: animate infinite 3s;
}
@keyframes animate {
    0% { 
        content: "Banh Mi"; 
    } 
    25% { 
        content: "Buns"; 
    }

    50% { 
        content: "Pastries"; 
    } 

    75% { 
        content: "Cakes"; 
    } 
}
#hero .col-12{
    display: grid;
    grid-template-rows: 3;
    row-gap: 20px;
    height:250px;
}

#hero .col-12 h1
{
    font-weight: 800;
    font-size:100px;
    color:#B80000;
    @media (max-width:1024px){
        font-size: 50px;
    }
    @media (max-width:400px){
        font-size: 25px;
    }
    
}
#hero .col-12 h2{
    font-weight: 600;
    font-size: 50px;
    color:#B80000;
    @media (max-width:1024px){
        font-size: 50px;
    }
    @media (max-width:400px){
        font-size: 25px;
    }
}
#hero .btn,#thankyou .btn{
    font-size:20px;
    font-weight: 400;
    padding:10px;
    width: 200px;
    height:50px;
    color: #fff5e0;
    background-color: #B80000;
}
#hero .btn:hover{
    cursor: pointer;
    color: #B80000;
    background-color: #fff5e0;
    border: 1px solid #B80000;
}
#thankyou{
    .col-12 
    {
        h1
        {
            font-weight: 800px;
            font-size:60px;
            color:#B80000;
        }
        h3{
            font-weight: 400px;
            font-size: 50px;
            color:#B80000;
            opacity:70%;
            @media (max-width:1024px){
                font-size: 50px;
            }
            @media (max-width:400px){
                font-size: 25px;
            }
        }
        
    } 
    .btn:hover{
        cursor: pointer;
        color: #B80000;
        background-color: #fff5e0;
        border: 1px solid #B80000;
    }
}
#about
{
    width: 100%;
    height: auto;
    .container{
        h1{
            font-size:40px;
            font-weight: bold;
            color:#B80000;
        }
        p{
            font-size:20px;
            color:#333533;
        }
        .card{
            background-color: #f3e8db;
        }
        .card-img-top{
            border-radius: 10px;
            width: 100%;
            height:auto;
        }
        #carouselExampleDark{
            width: 70%;
            margin: auto;
        }
        .carousel-caption{
            background-color:#e7d4b5bd;
            border-radius: 10px;
            padding: 15px;
            width:fit-content;
            height:auto;
            margin:auto;
            margin-bottom:2px;
            h5{
        
                font-size: 30px;
                color:#333533;
            }
        
            @media (max-width:1200px)
            {
                h5{
                    font-size: 18px;
                    color:#333533;
                }
            }
            @media (max-width:1000px) and (min-width:768px)
            {
                text-align: center;
            
                h5{
                    font-size: 10px;
                    color:#333533;
                }
                
            }
        }
        
        
        @media (max-width:760px) {
            .info{
                text-align: center;

            }
            h1{
                font-size:30px;
                font-weight: bold;
               
            }
            p{
                font-size:15px;
            
            }
        }

    }
   
    
    
    @media (max-width:1024px)
    {
        .line{
            width: 90px;
        }
        h1{
            font-size:30px;
        }
        p{
            font-size:15px;
        }
    }
    @media (max-width:960px)
    {
        h1{
            font-size:20px;
        }
        p{
            font-size:10px;
        }
    }
    
}



#contact{
    background-color:#c7c8cc;
    background-size: cover;
    padding-top:130px;
    
    .group{
        display: flex;
        flex-direction: column;
        row-gap: 5px;
        li{
            list-style-type: none;
            text-align: center;
            color:#333533;
        }
        .group-item h1{
            font-size: 60px;
            font-weight: bold;
            color:#B80000;
        }
    }
    .section-title{
        align-items:center;
        display: flex;
        flex-direction: column;
        row-gap: 25px;
        color:#a91d3a;
    }
    .col-lg-6{
        margin-top: 80px;
        align-content: center;
    }
    .row .btn{
        background-color: #a91d3a;
        width: 200px;
        height: 50px;
        margin: auto;
        margin-top: 30px;
        color: #e7d4b5;
        font-size: 20px;
        font-weight: 600;
    }
    .row .btn:hover{
        background-color: #e7d4b5;
        border: 1px solid #e7d4b5;
        color:#a91d3a;
        cursor: pointer;
    }

    @media (max-width:920px)
    {
        h3{
            font-size: 18px;
            font-weight: 700px;
        }
        h1{
            font-size: 45px;
        }
    }
}

footer{
    background-color: #e7d4b5;
    height: auto;
    .list{
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        li{
            a{
                text-decoration: none;
                font-weight: 700px;
                color:#B80000;
                font-size: 25px;
            }
            a:hover{
                cursor: pointer;
                opacity: 50%;
            }
        }
    }
    .list-inline-item{
        img:hover{
            transform: scale(1.3);
            cursor: ponter;
    }
    }

    @media (max-width:990px) {
        .container
        {
            display: flex;
            flex-direction: column;
        }
        
    }

}
    

